<html>
  <head>
    <meta charset="utf-8">
    <title>TestGuru tests</title>
  </head>
  <body>
    <h3><%= t('hello') %></h1>
    <h3><%= t('why?') %></h1>
    <h3><%= t('hi')%></h1>
    <h3><%= t('what?') %></h1>
    <h3>the test !</h3>
    <p>App Version: <%= VERSION %></p>
  </body>
</html>
